.intro__subtitle {
    /* padding-right: 100px; */
    font-size: 22px;
    margin: 0px;
    /* line-height: 36px; */
    font-weight: bold;
    color: #fecda7;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .intro__subtitle {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .intro__subtitle {
        font-size: 12px;
        margin-top: 50px;
    }
}