.reviews__subtitle {
  margin-top: 60px;
}

@media screen and (max-width: 768px) {
  .reviews__subtitle {
    font-size: 55px;
    line-height: 60px;
  }
}

@media screen and (max-width: 600px) {
  .reviews__subtitle {
    font-size: 43px;
    line-height: 50px;
  }
}

@media screen and (max-width: 480px) {
  .reviews__subtitle {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .reviews__subtitle {
    margin-top: 20px;
  }
}
