.place__image {
  width: 100%;
  height: 100%;
  grid-area: place__image;
  object-fit: cover;
}

@media screen and (max-width: 1600px) {
  .intro__image {
    margin-right: 0;
  }
}

@media screen and (max-width: 1230px) {
  .place__image {
    max-height: 800px;
  }
}
