.header__link {
  margin-right: 55px;
}

@media screen and (max-width: 768px) {
  .header__link {
    margin-right: 40px;
  }
}

@media screen and (max-width: 600px) {
  .header__link {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header__link {
    margin: 0;
  }
}
