.intro__box {
    max-width: 100%;
    margin-left: 100px;
}

@media screen and (max-width: 1630px) {
    .intro__box {
        max-width: 55vw;
    }
}

@media screen and (max-width: 1340px) {
    .intro__box {
        max-width: 48vw;
    }
}

@media screen and (max-width: 1230px) {
    .intro__box {
        max-width: 40vw;
    }
}

@media screen and (max-width: 798px) {
    .intro__box {
        margin-left: 50px;
    }
}

@media screen and (max-width: 489px) {
    .intro__box {
        max-width: 100%;
        margin: 0 auto;
        padding-left: 50px;
    }
}

@media screen and (max-width: 320px) {
    .intro__box {
        margin: 0px auto 28px;
    }
}