.intro__text {
  grid-area: intro__text;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1230px) {
  .intro__text {
    margin: 0 48px 48px;
    max-width: 900px;
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 480px) {
  .intro__text {
    margin: 0 16px 16px;
  }
}
