.header_text_theme {
  text-decoration: none;
  font-family: Inter, "sans-serif", "Arial";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #000000;
  transition: 0.2s color ease;
}

.header_text_theme:hover {
  color: #fecda7;
}

@media screen and (max-width: 600px) {
  .header_text_theme {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 35px;
  }
}
