.place__box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px;
  max-height: 800px;
  grid-area: place__box-text;
}

@media screen and (max-width: 1600px) {
  .place__box-text {
    padding: 80px;
  }
}

@media screen and (max-width: 1340px) {
  .place__box-text {
    padding: 60px;
  }
}

@media screen and (max-width: 1230px) {
  .place__box-text {
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 1230px) {
  .place__box-text {
    padding: 0 0 20px 0;
  }
}
