.footer__authors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .footer__authors {
    flex-direction: column;
  }
}
