.intro__image {
    max-width: 593px;
    height: 500px;
    background-image: url('../../../images/intro-image.jpeg');
    background-size: 100%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1340px) {
    .intro__image {
        max-width: 493px;
        height: 400px;
    }
}

@media screen and (max-width: 1120px) {
    .intro__image {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1116px) {
    .intro__image {
        /* width: 54vw; */
    }
}

@media screen and (max-width: 489px) {
    .intro__image {
        min-height: 418px;
        width: 100vw;
        margin: 50px auto 50px;
    }
}

@media screen and (max-width: 320px) {
    .intro__image {
        margin-top: 25px;
    }
}